@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

/*-----------------Layout----------*/
body {
  min-width: 1180px;
  line-height: 1.5;
  text-align: center;
  background: #fff url(https://ucarecdn.com/e5b889d2-d8f3-4ba0-bfe3-4477a23c7124//) repeat top left;
}

/*--------------header-----------*/
.c-menuSP {
  display: none;
  width: 35px;
  height: 35px;
  background: #fff url(https://ucarecdn.com/e5b889d2-d8f3-4ba0-bfe3-4477a23c7124//) repeat top left;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .c-menuSP {
    display: inline-block;
    position: fixed;
    right: 0;
    top: 25px;
  }
}

.c-menuSP .button-toggle p:nth-child(1) {
  width: 28px;
  height: 2px;
  background: #000;
  margin: 10px 0 0 3px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.c-menuSP .button-toggle p:nth-child(2) {
  width: 25px;
  height: 2px;
  background: #000;
  margin: 5px 0 0 6px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.c-menuSP .button-toggle p:nth-child(3) {
  width: 28px;
  height: 2px;
  background: #000;
  margin: 5px 0 0 3px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.c-menuSP .open p:nth-child(1) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
  top: 7px;
  position: relative;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.c-menuSP .open p:nth-child(2) {
  opacity: 0;
}

.c-menuSP .open p:nth-child(3) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  top: -7px;
  position: relative;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/*------------------------------*/
.c-menuPC {
  position: fixed;
  right: 0;
  top: 45px;
  background: #abe3ff;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(1, 2, 2, 0.05);
          box-shadow: 0px 3px 3px 0px rgba(1, 2, 2, 0.05);
  overflow: hidden;
  z-index: 9999;
  cursor: pointer;
}

.c-menuPC:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 16px 16px 0;
  border-style: solid;
  border-color: #fff #fff #abe3ff #658E15;
  background: #658E15;
  display: block;
  width: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), -1px 1px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 767px) {
  .c-menuPC {
    display: none;
  }
}

.c-menuPC ul li {
  padding: 10px 0;
}

.c-menuPC ul li a {
  color: #fff;
  font-size: 1.4rem;
  margin: 0 25px 0;
  cursor: default;
}

.c-menuPC ul li a:hover {
  color: #000;
}

/*---------	menu sp-------------*/
.c-hsp {
  background: #fff;
  clear: both;
  float: none;
  display: none;
  list-style: none;
  top: 75px;
  width: 100%;
  position: fixed;
  left: 0px;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .c-hsp {
    display: inline-block;
  }
}

.c-hsp__sp {
  cursor: default;
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 10px 0;
  font-weight: 500;
  border: 1px solid transparent;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #fff;
  background: #abe3ff;
}

.c-hsp__sp a {
  color: #fff !important;
}

.c-hsp .bottom {
  border: none;
}

/*-------------------line-------*/
.c-line {
  width: 100%;
  height: 4px;
  background-color: #ccc;
  position: fixed;
  z-index: 9999;
}

/*----------------to top---------*/
#home {
  -webkit-transition: -webkit-transform .6s .9s;
  transition: -webkit-transform .6s .9s;
  transition: transform .6s .9s;
  transition: transform .6s .9s, -webkit-transform .6s .9s;
}

#blog {
  -webkit-transition: -webkit-transform .6s .9s;
  transition: -webkit-transform .6s .9s;
  transition: transform .6s .9s;
  transition: transform .6s .9s, -webkit-transform .6s .9s;
}

#contact {
  -webkit-transition: -webkit-transform .6s .9s;
  transition: -webkit-transform .6s .9s;
  transition: transform .6s .9s;
  transition: transform .6s .9s, -webkit-transform .6s .9s;
}

#about {
  -webkit-transition: -webkit-transform .6s .9s;
  transition: -webkit-transform .6s .9s;
  transition: transform .6s .9s;
  transition: transform .6s .9s, -webkit-transform .6s .9s;
}

/*----------btn to---------------*/
.pagetop {
  width: 45px;
  height: 45px;
  border-radius: 50px;
  float: right;
  background: #000 url(https://ucarecdn.com/e5b889d2-d8f3-4ba0-bfe3-4477a23c7124//) repeat top left;
  position: fixed;
  bottom: 75px;
  right: 0;
  font-size: 2rem;
  font-weight: normal;
  line-height: 2.2em;
  color: #1eb2fb !important;
}

.pagetop:hover {
  opacity: 0.7;
}

/*------------------------------*/
.loading-mask {
  position: fixed;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  height: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

.loading-mask.is-remove {
  top: -20px;
  height: 0;
}

.loading-sets {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -20px;
}

.loading-sets .loading {
  width: 2px;
  height: 30px;
  background: #77efff;
  float: left;
  margin-right: 8px;
}

.loading-sets .loading-0 {
  -webkit-animation: bounce 1s infinite ease;
  -webkit-animation-delay: 0.1s;
  background: #77ffc8;
}

.loading-sets .loading-1 {
  -webkit-animation: bounce 1s infinite ease;
  -webkit-animation-delay: 0.3s;
  background: #77efff;
}

.loading-sets .loading-2 {
  -webkit-animation: bounce 1s infinite ease;
  -webkit-animation-delay: 0.5s;
  background: #77ffc8;
}

.loading-sets .loading-3 {
  -webkit-animation: bounce 1s infinite ease;
  -webkit-animation-delay: 0.5s;
  background: #77efff;
}

.loading-sets .loading-4 {
  -webkit-animation: bounce 1s infinite ease;
  -webkit-animation-delay: 0.5s;
  background: #77ffc8;
}

.loading-sets .loading-5 {
  -webkit-animation: bounce 1s infinite ease;
  -webkit-animation-delay: 0.5s;
  background: #77efff;
}

.loading-sets .loading-6 {
  -webkit-animation: bounce 1s infinite ease;
  -webkit-animation-delay: 0.5s;
  background: #77ffc8;
}

.loading-sets .loading-7 {
  -webkit-animation: bounce 1s infinite ease;
  -webkit-animation-delay: 0.5s;
  background: #77efff;
}

.loading-sets .loading-8 {
  -webkit-animation: bounce 1s infinite ease;
  -webkit-animation-delay: 0.5s;
  background: #77ffc8;
}

@-webkit-keyframes bounce {
  0%, 100% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
}

.fade-up {
  -webkit-transition: all 1.2s ease;
  transition: all 1.2s ease;
}

/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
/*.sample {
	transform: scale(1);
	background-size: cover;
	-webkit-background-size: cover;
	display: flex;
}*/
/*------------------fonts-----------------*/
@font-face {
  font-family: meiryo;
  src: url(../fonts/meiryo.ttc);
}

/*----------------------------------------*/
* a {
  color: #000;
  text-transform: none;
  text-decoration: none;
}

.clearfix {
  clear: both;
}

/*----------------------------------------*/
/*----------------------------------------*/
@media screen and (max-width: 640px) {
  body {
    min-width: -webkit-fit-content;
    min-width: -moz-fit-content;
    min-width: fit-content;
    font-size: 62.5%;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  }
}

/*------------------------------------------------------------
	Headline
------------------------------------------------------------*/
/*------------------------------------------------------------
	Button
------------------------------------------------------------*/
