@charset "UTF-8";
@import "vars";	// 変数 Variable
@import "functions"; // 関数等 Function
/*------------------------------------------------------------
	Top page
------------------------------------------------------------*/
body{
	min-width: fit-content;
	padding:0;
	margin: o auto;
}
